files:
    "/etc/php.d/memory.ini":
        mode: "000755"
        owner: root
        group: root
        content: |
            upload_max_filesize = 10G
            post_max_size = 10G
    "/etc/php.d/mysql.ini":
        mode: "000755"
        owner: root
        group: root
        content: |
            mysql.allow_persistent = 0
    "/etc/php.d/error_log.ini":
        mode: "000755"
        owner: root
        group: root
        content: |
            display_errors = Off
            log_errors = On
            error_reporting = E_ALL
            error_log =  "/var/app/current/storage/logs/php-fpm.log"
